{% extends 'base.html' %}

{% block title %}Home page{% endblock %}

{% block content %} 
  <div id="main-container">
    <div id="tools">
      <form id="upload-form" enctype="multipart/form-data">
        <input type="file" id="file-input" name="file" accept=".docx,.pdf" style="display:none;">
        <button type="button" id="upload-btn" class="btn btn-info" onclick="document.getElementById('file-input').click()">
          📁 Загрузить файл
        </button>
        <button type="button" id="scan-btn" class="btn btn-success" onclick="scanFile()">
          🔍 Поиск
        </button>
				<button type="button" id="clean-btn" class="btn btn-clean" onclick="Clean()">
          🗑️ Очистить
        </button>
        <button type="button" id="add-btn" class="btn btn-add" onclick="addField()">
          ➕ Добавить поле
        </button>
        <button type="button" id="shutdown-btn" class="btn-shutdown" onclick="shutdownApp()">
          ✖ Закрыть
        </button>
        <p id="file-status"></p>
      </form>
      <div id="keywords">
        <div class="input-holder">
          <input type="text" class="keyword-input" name="keywords">
					<button class="remove-btn">⛌</button>
          <button class="find-btn">🔍</button>
					<div class="counter">0</div>
        </div>
        <div class="input-holder">
          <input type="text" class="keyword-input" name="keywords">
					<button class="remove-btn">⛌</button>
          <button class="find-btn">🔍</button>
					<div class="counter">0</div>
        </div>
				<div class="input-holder">
          <input type="text" class="keyword-input" name="keywords">
					<button class="remove-btn">⛌</button>
          <button class="find-btn">🔍</button>
					<div class="counter">0</div>
        </div>
      </div>
    </div>
    <div id="result">
      <!-- <div class="arrow-placeholder"></div> -->
      <div id="text-container"></div>
      <!-- <div class="arrow-placeholder"></div> -->
    </div>
  </div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/state.js') }}"></script>
<script src="{{ url_for('static', filename='js/ui-utils.js') }}"></script>
<script src="{{ url_for('static', filename='js/api-handlers.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}